*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.6), (rgba(0,0,0,0.6)),);
    background-image: url(img/cadastro.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: auto;
    width: 100vh;
    height: 100vh;
}

#cadastro{
    width: 
    100vh;
}

