*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgba(0,0,0,0.6), (rgba(0,0,0,0.6)),);
    background-image: url(img/cadastro.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: auto;
    height: 100vh;
}

body{
 width: 100vh;
 display: flex;
justify-content: center;

}